@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    background-color: #020617;
  }

  body {
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  * {
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: max(env(safe-area-inset-bottom), 1rem);
  }
}
